<div class="row intro z-depth-2" ng-controller="appCtrl as uq" ng-show="uq.user.valid">
  <div class="col s12 m10 offset-m1">
    <div class="row">
      <div class="col m10 offset-m1 s12" style="margin-top:2%;">
        <h1>{{uq.getTournamentById(uq.datoViajero).name}}</h1>
      </div>
    </div>
  </div>
  <div class="col s12 m10 offset-m1">
    <div class="row">
      <div class="col s12 m10 offset-m1">
        <!--<button class="col m3 s12 waves-effect waves-light btn" ng-click="uq.showMarket=true" style="font-size:100%;background-color:#f9a825">Todos</button>
        <button class="col m3 s12 waves-effect waves-light btn" ng-click="uq.showMarket=false" style="font-size:100%;background-color:#f9a825">Mi equipo</button>-->
      </div>
      </div>
        <button class="col m10 offset-m1 s12 waves-effect waves-light btn" ng-click="uq.redirEditar('')" style="font-size:100%;background-color:#f9a825">Volver</button>
	      <table style="color:white;">
	        <thead>
	          <tr>
	              <th>POS</th>
	              <th>EQUIPO</th>
	              <th>J</th>
                <th>G</th>
                <th>E</th>
                <th>P</th>
                <th>F</th>
                <th>C</th>
                <th>PTS</th>
	          </tr>
	        </thead>
	        <tbody>
	          <tr ng-repeat="pl in uq.standings | orderBy: ['-points', '-goalsFor', '-goalsAgainst']" ng-if="pl.tournamentID==uq.datoViajero">
	            <td>{{$index+1}}</td>
	            <td>{{uq.getTeamById(pl.team).name}}</td>
              <td>{{pl.round}}</td>
              <td>{{pl.won}}</td>
              <td>{{pl.draw}}</td>
              <td>{{pl.lost}}</td>
              <td>{{pl.goalsFor}}</td>
              <td>{{pl.goalsAgainst}}</td>
              <td>{{pl.points}}</td>
	          </tr>
	        </tbody>
	      </table>
        <br/>
        <div>
        <h3>PARTIDOS</h3>
        <table style="color:white;" class="table-striped">
          <thead>
            <tr>
                <th>Jornada</th>
                <th>Local</th>
                <th></th>
                <th></th>
                <th>Visitante</th>
                <th>Fecha límite</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="mat in uq.matches | orderBy: 'round'" ng-if="mat.tournament==uq.datoViajero && $index<72">
              <td>{{mat.round}}</td>
              <td>{{uq.getTeamById(mat.local).name}}</td>
              <td>
                <b ng-if="mat.localGoals!=-1 && mat.localGoals!=-2">{{mat.localGoals}}</b>
                <b ng-if="mat.localGoals==-2">NP</b>
              </td>
              <td>
                <b ng-if="mat.awayGoals!=-1 && mat.awayGoals!=-2">{{mat.awayGoals}}</b>
                <b ng-if="mat.awayGoals==-2">NP</b>
              </td>
              <td style="text-align:right;">{{uq.getTeamById(mat.away).name}}</td>
              <td>{{mat.limitDate | date: 'dd/MM/yyyy hh:mm'}}</td>
              <td>
                <button ng-if="(mat.localGoals!=-1 || mat.awayGoals!=-1) && mat.localGoals!=-2 && mat.awayGoals!=-2" class="col m6 s12 waves-effect waves-light btn" ng-click="uq.redirEditarConDatos('matchlog', mat.id)" style="font-size:100%;background-color:#f9a825">Detalle</button>
              </td>
            </tr>
          </tbody>
        </table>
        </div>
        <div>
          <h3>PICHICHI</h3>
          <table style="color:white;" class="table-striped">
            <thead>
              <tr>
                  <th>Jugador</th>
                  <th>Equipo</th>
                  <th>Goles</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="mat in uq.getStatsByTournament('G', uq.datoViajero) | orderBy: '-goals'">
                <td>{{uq.getPlayerById(mat.player).name}}</td>
                <td>{{uq.getTeamById(uq.getPlayerById(mat.player).teamID).name}}</td>
                <td>{{mat.goals}}</td>
              </tr>
            </tbody>
          </table>
          <h3>ASISTENCIAS</h3>
          <table style="color:white;" class="table-striped">
            <thead>
              <tr>
                  <th>Jugador</th>
                  <th>Equipo</th>
                  <th>Asistencias</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="mat in uq.getStatsByTournament('A', uq.datoViajero) | orderBy: '-assists'">
                <td>{{uq.getPlayerById(mat.player).name}}</td>
                <td>{{uq.getTeamById(uq.getPlayerById(mat.player).teamID).name}}</td>
                <td>{{mat.assists}}</td>
              </tr>
            </tbody>
          </table>
          <h3>MVP</h3>
          <table style="color:white;" class="table-striped">
            <thead>
              <tr>
                  <th>Jugador</th>
                  <th>Equipo</th>
                  <th>MVP</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="mat in uq.getStatsByTournament('M', uq.datoViajero) | orderBy: '-mvp'">
                <td>{{uq.getPlayerById(mat.player).name}}</td>
                <td>{{uq.getTeamById(uq.getPlayerById(mat.player).teamID).name}}</td>
                <td>{{mat.mvp}}</td>
              </tr>
            </tbody>
          </table>
          <h3>TARJETAS</h3>
          <table style="color:white;" class="table-striped">
            <thead>
              <tr>
                  <th>Jugador</th>
                  <th>Equipo</th>
                  <th><img src="actionImages/yellowCard.png" style="width:8%"/></th>
                  <th><img src="actionImages/redCard.png" style="width:8%"/></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="mat in uq.getStatsByTournament('C', uq.datoViajero) | orderBy: ['-yellowCards', '-redCards']">
                <td>{{uq.getPlayerById(mat.player).name}}</td>
                <td>{{uq.getTeamById(uq.getPlayerById(mat.player).teamID).name}}</td>
                <td>{{mat.yellowCards}}</td>
                <td>{{mat.redCards}}</td>
              </tr>
            </tbody>
          </table>
          <h3>LESIONES</h3>
          <table style="color:white;" class="table-striped">
            <thead>
              <tr>
                  <th>Jugador</th>
                  <th>Equipo</th>
                  <th>Veces lesionado</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="mat in uq.getStatsByTournament('I', uq.datoViajero) | orderBy: '-injuries'">
                <td>{{uq.getPlayerById(mat.player).name}}</td>
                <td>{{uq.getTeamById(uq.getPlayerById(mat.player).teamID).name}}</td>
                <td>{{mat.injuries}}</td>
              </tr>
            </tbody>
          </table>
          <h3>EQUIPO MÁS GOLEADOR</h3>
          <table style="color:white;" class="table-striped">
            <thead>
              <tr>
                  <th>Equipo</th>
                  <th>Goles a favor</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="mat in uq.getStatsByTournament('MGT', uq.datoViajero) | orderBy: '-goals'" ng-if="$index<5">
                <td>{{uq.getTeamById(mat.team).name}}</td>
                <td>{{mat.goals}}</td>
              </tr>
            </tbody>
          </table>
          <h3>EQUIPO MÁS GOLEADO</h3>
          <table style="color:white;" class="table-striped">
            <thead>
              <tr>
                  <th>Equipo</th>
                  <th>Goles en contra</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="mat in uq.getStatsByTournament('LGT', uq.datoViajero) | orderBy: '-goals'" ng-if="$index<5">
                <td>{{uq.getTeamById(mat.team).name}}</td>
                <td>{{mat.goals}}</td>
              </tr>
            </tbody>
          </table>
          <h3>SANCIONES</h3>
          <table style="color:white;" class="table-striped">
          <thead>
            <tr>
                <th>Equipo</th>
                <th>Jugador</th>
                <th>Ronda</th>
                <th>Causa</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="pl in uq.getInjuriesAndCardsByTournament(uq.datoViajero) | orderBy: 'pl.type'">
              <td>{{uq.getTeamById(uq.getPlayerById(pl.player).teamID).name}}</td>
              <td>{{uq.getPlayerById(pl.player).name}}</td>
              <td>{{pl.rounds}}</td>
              <td ng-if="pl.type=='Y'">AMARILLAS</td>
              <td ng-if="pl.type=='R'">ROJA</td>
              <td ng-if="pl.type=='I'">LESIÓN</td>
            </tr>
          </tbody>
        </table>
        </div>
  </div>
</div>
<div class="row intro z-depth-2" ng-controller="appCtrl as uq" ng-show="!uq.user.valid">
  <div class="col s12 m10 offset-m1">
    <div class="row">
      <div class="col m10 offset-m1 s12" style="margin-top:2%;">
        <h1>Liga</h1>
      </div>
    </div>
  </div>
  <div class="col s12 m10 offset-m1">
    <div class="row">
      <div class="col s12 m10 offset-m1">
        No tiene permiso para ver esta página
        <button class="col m10 offset-m1 s12 waves-effect waves-light btn" ng-click="uq.redirEditar('')" style="font-size:100%;background-color:#f9a825">Volver</button>
      </div>
      </div>
  </div>
</div>