<div class="row intro z-depth-2" ng-controller="appCtrl as uq" ng-show="uq.user.valid">
  <div class="col s12 m10 offset-m1">
    <div class="row">
      <div class="col m10 offset-m1 s12" style="margin-top:2%;">
        <h1>{{uq.getTournamentById(uq.getMatchById(uq.datoViajero).tournament).name}}</h1>
      </div>
    </div>
  </div>
  <div class="col s12 m10 offset-m1">
    <div class="row">
      <div class="col s12 m10 offset-m1">
      </div>
      </div>
        <button class="col m10 offset-m1 s12 waves-effect waves-light btn" ng-click="uq.redirEditar('')" style="font-size:100%;background-color:#f9a825">Volver</button>
        <div class="col m6 s12">
          <div class="row">
              <label class="col m10 s10 left" style="margin-right:3%;font-size:400%;color:white;"><b>{{uq.getTeamById(uq.getMatchById(uq.datoViajero).local).shortName}}</b></label>
              <label class="col m1 s1 right" style="font-size:400%;color:white;"><b>{{uq.getMatchById(uq.datoViajero).localGoals}}</b></label>
          </div>
        </div>
        <div class="col m6 s12">
          <div class="row">
              <label class="col m1 s1 right" style="font-size:400%;color:white;"><b>{{uq.getMatchById(uq.datoViajero).awayGoals}}</b></label>
              <label class="col m10 s10 left" style="margin-left:3%;font-size:400%;color:white;"><b>{{uq.getTeamById(uq.getMatchById(uq.datoViajero).away).shortName}}</b></label>
          </div>
        </div>
  </div>
</div>
<div class="row intro z-depth-2" ng-controller="appCtrl as uq" ng-show="!uq.user.valid">
  <div class="col s12 m10 offset-m1">
    <div class="row">
      <div class="col m10 offset-m1 s12" style="margin-top:2%;">
        <h1>Supercopa</h1>
      </div>
    </div>
  </div>
  <div class="col s12 m10 offset-m1">
    <div class="row">
      <div class="col s12 m10 offset-m1">
        No tiene permiso para ver esta página
        <button class="col m10 offset-m1 s12 waves-effect waves-light btn" ng-click="uq.redirEditar('')" style="font-size:100%;background-color:#f9a825">Volver</button>
      </div>
      </div>
  </div>
</div>