
<div class="row intro z-depth-2">
  <div class="col s2" style="color:#2196f3">
    uQuest
  </div>
  <div class="col s4" id="portada" ng-show="!uq.user.valido">
    <div class="row">
      <div>
        <span style="font-size:100%"><!--Spanish World Cup Liga FIFA 18-->SWC018</span>
        <div class="row">
          <div class="col s12">
            <div class="form-group">
              <label for="user" style="color:white; font-size:30%">Usuario</label>
              <input type="text" ng-model="uq.userSession.username" class="form-control" id="user">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col s12">
            <div class="form-group">
              <label for="pass" style="color:white; font-size:30%">Contraseña</label>
              <input type="password" ng-model="uq.userSession.password" class="form-control" id="pass">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col s12">
            <a class="waves-effect waves-light btn" ng-click="uq.login()" style="background-color:#f9a825">Iniciar sesión</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col s4" id="portadalogin" ng-show="uq.user.valido">
    <div class="row">
      <div>
        <span style="font-size:100%"><!--Spanish World Cup Liga FIFA 18-->SWC018</span>
        <div class="row">
          <div class="col s12">
            <div class="form-group">
              <span style="font-size:70%">{{uq.user.nombreEquipo}}</span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col s12">
            <div class="form-group">
              <img ng-src="{{uq.getEquipoById(uq.user.idEquipo).rutaImagen}}"/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col s6">
    <h2>Mi equipo</h2>
    <div class="row">
      <div class="col s10" style="height:4%">
          <button class="col s12 waves-effect waves-light btn" ng-disabled="!uq.userSession.valid" href="#/plantilla" style="font-size:100%;background-color:#f9a825">Plantilla</button>
      </div>
    </div>
    <div class="row">
      <div class="col s10" style="height:4%">
          <button class="col s12 waves-effect waves-light btn" ng-disabled="!uq.userSession.valid" href="#/pendientes" style="font-size:100%;background-color:#f9a825">Partidos pendientes</button>
      </div>
    </div>
    <div class="row">
      <div class="col s10" style="height:4%">
          <button class="col s12 waves-effect waves-light btn" ng-disabled="!uq.userSession.valid" href="#/primera" style="font-size:100%;background-color:#f9a825">Liga</button>
      </div>
    </div>
     <div class="row">
      <div class="col s10" style="height:4%">
          <button class="col s12 waves-effect waves-light btn" ng-disabled="!uq.userSession.valid" href="#/segunda" style="font-size:100%;background-color:#f9a825">Liga</button>
      </div>
    </div>
    <div class="row">
      <div class="col s10" style="height:4%">
          <button class="col s12 waves-effect waves-light btn" ng-disabled="!uq.userSession.valid" href="#/copa" style="font-size:100%;background-color:#f9a825">Copa</button>
      </div>
    </div>
    <div class="row">
      <div class="col s10" style="height:4%">
          <button class="col s12 waves-effect waves-light btn" ng-disabled="!uq.userSession.valid" href="#/champions" style="font-size:100%;background-color:#f9a825">Champions</button>
      </div>
    </div>
    <div class="row">
      <div class="col s10" style="height:4%">
          <button class="col s12 waves-effect waves-light btn" ng-disabled="!uq.userSession.valid" href="#/europaleague" style="font-size:100%;background-color:#f9a825">Europa League</button>
      </div>
    </div>
    <div class="row">
      <div class="col s10" style="height:4%">
          <button class="col s12 waves-effect waves-light btn" ng-disabled="!uq.userSession.valid" href="#/intertoto" style="font-size:100%;background-color:#f9a825">Intertoto</button>
      </div>
    </div>
    <div class="row">
      <div class="col s10" style="height:4%">
          <button class="col s12 waves-effect waves-light btn" ng-disabled="!uq.userSession.valid" href="#/supercopaclubes" style="font-size:100%;background-color:#f9a825">Supercopa Clubes</button>
      </div>
    </div>
    <div class="row">
      <div class="col s10" style="height:4%">
          <button class="col s12 waves-effect waves-light btn" ng-disabled="!uq.userSession.valid" href="#/supercopaeuropa" style="font-size:100%;background-color:#f9a825">Supercopa Europa</button>
      </div>
    </div>
  </div>
</div>
<!--
<div class="exp1">
  <div class="row">
    <div class="col s6 offset-s3">
      <h1 style="margin-bottom:0;">Conoce uQuest,</h1><h1 style="margin-top:0;"> una nueva forma de preguntar</h2>
      Desp&iacute;dete de kilom&eacute;tricas charlas de Whatsapp con tus amigos para decidir la cena o el plan del s&aacute;bado. uQuest se encarga de recoger resultados y hacer m&aacute;s agradable la vida de los dem&aacute;s.<br/>¡R&aacute;pido, crea tu pregunta, esto es uQuest!
      </div>
  </div>
  <div class="row">
    <div class="col s3" style="margin-left:12.5%;">
      <img class="responsive-img" src="uQuest/ser01.png"/>
      <h5>Multiplataforma</h5>
      uQuest funciona en cualquier dispositivo, basando el n&uacute;cleo de la aplicaci&oacute;n en los motores web m&aacute;s avanzados. Pr&oacute;ximamente ver&aacute;n la luz las respectivas apps para Android e iOS.
    </div>
    <div class="col s3">
      <img class="responsive-img" src="uQuest/ser02.png"/>
      <h5>Preguntas Increíblemente R&aacute;pidas</h5>
      Enviar tu uQuest a tus amigos es realmente r&aacute;pido. Posee compatibilidad con tus programas de mensajer&iacute;a favoritos (Whatsapp, Telegram, Twitter...) ¡Preguntar es mucho m&aacute;s f&aacute;cil!
    </div>
    <div class="col s3">
      <img class="responsive-img" src="uQuest/ser03.png"/>
      <h5>Consigue la respuesta</h5>
      Podr&aacute;s reunir inmediatamente las respuestas de tus amigos sin molestos desv&iacute;os de tema en tus conversaciones. Controla los votos desde tu smartphone o PC, y consigue respuestas... ¡En cuesti&oacute;n de segundos!
    </div>
  </div>
</div>

<div class="row">
  <div class="col s12 center">
    <a class="waves-effect waves-light btn-large botonu" href="uquest.html" style="background-color:#f9a825">¡Accede a uQuest!</a>
  </div>
</div>

<div>
  <div class="row">
    <div class="col s4 offset-s4" style="text-align:center;font-size:120%;">
      <h1>uQuest es para todos</h1>
      Gracias a nuestra versión web, uQuest funciona en prácticamente cualquier dispositivo*. Además, estamos trabajando duramente para lanzar una aplicación nativa para iOs y Android en el menor tiempo posible. *NdP: Quizá no funcione en tu vieja Dreamcast.
    </div>
  </div>
</div>

<div class="row">
  <div class="col s12 center">
    <a class="waves-effect waves-light btn-large botonu" href="uquest.html" style="background-color:#f9a825">Quiero hacer mi uQuest</a>
  </div>
</div>
-->
<div>
  <div class="equipo" style="font-size:120%;">
    <div class="row">
        <div class="col s6 offset-s3">
        <h1 style="margin-bottom:0;">Palmarés</h1>
      </div>
    </div>
    <div class="row">
      <div class="col s3" style="margin-left:12.5%;">
        <img class="responsive-img equipo" src="uQuest/pic1.jpg"/>
        <h5>Liga</h5>
        PSG<br/>
        <a href="#/"><i class="material-icons">email</i></a><a href="#/"><i class="material-icons">phone</i></a><a href="#/"><i class="material-icons">web</i></a>

      </div>
      <div class="col s3">
        <img class="responsive-img equipo" src="uQuest/pic2.jpg"/>
        <h5>Champions League</h5>
        PSG<br/>
        <a href="#/"><i class="material-icons">email</i></a><a href="#/"><i class="material-icons">phone</i></a><a href="#/"><i class="material-icons">web</i></a>
      </div>
      <div class="col s3">
        <img class="responsive-img equipo" src="uQuest/pic3.jpg"/>
        <h5>Copa de Clubes</h5>
        PSG<br/>
        <a href="#/"><i class="material-icons">email</i></a><a href="#/"><i class="material-icons">phone</i></a><a href="#/"><i class="material-icons">web</i></a>
      </div>
    </div>
  </div>
</div>
