<div class="row intro z-depth-2" ng-controller="appCtrl as uq">
  <div class="col s12 m10 offset-m1">
    <div class="row">
	    <div class="col m10 offset-m1 s12" style="margin-top:2%;">
	      <h1>Oferta por {{uq.getPlayerById(uq.datoViajero).name)}}</h1>
	    </div>
  	</div>
  </div>
  <div class="col s12 m10 offset-m1">
    <div class="row">
      <div class="col s12 m4 offset-m4">
        <label style="color:white;">Jugador</label>
			  <select style="color:black;" ng-change="uq.putPlayersInTable()" class="browser-default" ng-model="uq.playerSelected">
			    <option value="" disabled selected>Elegir jugadores...</option>
			    <option ng-repeat="te in uq.teamPlayers | orderBy: salary" ng-value="te.id">{{te.name}}</option>
			  </select>
      </div>
    </div>
  </div>
  <div class="col s12 m10 offset-m1">
    <div class="row">
      <div class="col m10 offset-m1 s12">
      	<button class="col m10 offset-m1 s12 waves-effect waves-light btn" ng-click="uq.setOffer(uq.datoViajero, uq.user.teamID)" style="font-size:100%;background-color:#f9a825">Hacer oferta</button>
        <button class="col m10 offset-m1 s12 waves-effect waves-light btn" ng-click="uq.redirEditar('myteam')" style="font-size:100%;background-color:#f9a825">Volver</button>
      </div>
    </div>
  </div>
</div>