<div class="row intro z-depth-2" ng-controller="appCtrl as uq">
  <div class="col s12 m10 offset-m1">
    <div class="row">
    <div class="col m10 offset-m1 s12" style="margin-top:2%;">
      <h1>Mercado actual</h1>
    </div>
  </div>
  </div>
  <div class="col s12 m10 offset-m1">
    <div class="row">
      <div class="col s12 m10 offset-m1">
        <button class="col m3 s12 waves-effect waves-light btn" ng-click="uq.redirEditar('')" style="font-size:100%;background-color:#f9a825">Volver</button>
      </div>
      <button class="col m3 s12 waves-effect waves-light btn" ng-click="uq.redirEditar('')" style="font-size:100%;background-color:#f9a825">Volver</button>
      </div>
	      <table style="color:white;" class="responsive-table">
	        <thead>
	          <tr>
	              <th>Jugador</th>
	              <th>Tipo</th>
	              <th>Cantidad</th>
                <th>Traspasado desde</th>
                <th>Traspasado a</th>
	          </tr>
	        </thead>
	        <tbody>
	          <tr ng-repeat="pl in uq.signins" ng-if="pl.accepted==1">
	            <td>{{uq.getPlayerById(pl.player).name}}</td>
	            <td>{{pl.type}}</td>
	            <td>{{pl.amount}}</td>
              <td ng-if="pl.type=='C' || pl.type=='F' || pl.type=='D'">{{uq.getTeamById(uq.getPreviousSignin(pl.id).buyerTeam).name}}</td>
              <td ng-if="pl.type=='W'">LIBRE</td>
              <td ng-if="pl.type=='S'">SUBASTA</td>
              <td ng-if="pl.type!='D'">{{uq.getTeamById(pl.buyerTeam).name}}</td>
              <td ng-if="pl.type=='D">LIBRE</td>
	          </tr>
	        </tbody>
	      </table>
      </div>
    </div>
  </div>
  <div class="col s12 m10 offset-m1">
    <div class="row">
      <div class="col m10 offset-m1 s12">
        <button class="col m10 offset-m1 s12 waves-effect waves-light btn" ng-click="uq.redirEditar('')" style="font-size:100%;background-color:#f9a825">Volver</button>
      </div>
    </div>
  </div>
</div>