<div class="row intro z-depth-2" ng-controller="appCtrl as uq">
  <div class="col s12 m10 offset-m1">
    <div class="row">
    <div class="col m10 offset-m1 s12" style="margin-top:2%;">
      <h1>Nueva Subasta</h1>
    </div>
  </div>
  </div>
  <div class="col s12 m10 offset-m1">
    <div class="row">
      <div class="form-group col s12 m6">
          <label for="player" style="color:white">Nombre completo del jugador</label>
          <input type="text" ng-model="uq.newAuctionObj.name" class="form-control"/>
      </div>
      <form action="#">
        <p class="range-field">
          <input type="range" id="overallrange" min="40" max="99" ng-model="uq.newAuctionObj.overallRange" step="1"/>
        </p>
      </form>
      <div class="col s12 m4 offset-m4">
        <label style="color:white;">Equipo</label>
        <select style="color:black;" class="browser-default" ng-model="uq.newAuctionObj.positionSelected">
          <option value="" disabled selected>Elegir posición...</option>
          <option ng-repeat="te in uq.positions" ng-value="te">{{te}}</option>
        </select>
      </div>
    </div>
  </div>
  <div class="col s12 m10 offset-m1">
    <div class="row">
      <div class="col m10 offset-m1 s12">
        <button class="col s12 waves-effect waves-light btn" ng-click="uq.addAuction()" style="font-size:100%;background-color:#f9a825">Comenzar subasta</button>
        <button class="col s12 waves-effect waves-light btn" ng-click="uq.redirEditar('')" style="font-size:100%;background-color:#f9a825">Volver</button>
      </div>
    </div>
  </div>
</div>